
* {
    box-sizing: border-box;
}

body {
    color: #60606e;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
}

.ba-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.ba-header {
    position: absolute;
    width: 100%;
    padding-top: 40px;
}

.ba-logo {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

.ba-menu--toggle {
    width: 32px;
    height: 18px;
    background-color: transparent;
    border: none;
    padding: 0;
    border-top: 1px solid #000;
    position: relative;
    z-index: 10;
    order: 5;
}

.ba-menu--toggle:before {
    content: '';
    height: 1px;
    width: 50%;
    display: block;
    background-color: #000;
    margin: 6px 0;
}

.ba-menu--toggle:after {
    content: '';
    height: 1px;
    width: 75%;
    display: block;
    background-color: #000;
}

.ba-header-wrapper {
    display: flex;
    justify-content: space-between;
}

.ba-hero {
    min-height: 100vh;;
    background-color: #cfcfd0;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    text-align: center;
    padding: 200px 0 100px;
    font-family: Montserrat, sans-serif;
}

.ba-breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
}

/* .ba-breadcrumbs__item + .ba-breadcrumbs__item {
    padding-left: 16px;
} */

.ba-breadcrumbs__item + .ba-breadcrumbs__item:before {
    content: '/';
    padding: 0 2px 0 8px;
}

.ba-breadcrumbs__link {
    color: inherit;
    text-decoration: none;
}

.ba-title {
    font-size: 36px;
    text-transform: uppercase;
}

.ba-h2 > span {
    position: relative;
}

.ba-h2 > span::before {
    content: '';
    display: inline-block;
    background-color: #7beec7;
    width: 68px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;
}

.ba-row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

[class^="ba-col"] {
    padding: 0 15px;
}

.ba-col {
    padding: 0 15px;
}

.ba-col-6 {
    width: 50%;
}

.ba-col-4 {
    width: 33.3333%;
}

.ba-col-3 {
    width: 25%;
}

.ba-about__item {
    width: 50%;
    padding: 0 15px;
}

.ba-section {
    padding-top: 150px;
}

.ba-section-header {
    text-align: center;
}

/*ba-benefit*/
.ba-benefit__head {
    display: flex;
    align-items: center;
}

.ba-benefit__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    background-color: #7beec7;
    margin-right: 20px;
}

.ba-benefit__icon i {
    color: #fff;
    font-size: 25px;
}

.ba-benefit__title {
    margin: 0;
}

.ba-team-member {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.ba-team-member img {
    display: block;
    max-width: 100%;
    height: auto;
}

.ba-team-member__info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #7beec7ba;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2em;

    transform: translateY(-100%);
    transition: transform .3s;
    transition-timing-function: cubic-bezier(0.45, 1.61, 0, 0.74);
}

.ba-team-member:hover .ba-team-member__info {
    transform: translateY(0);
}

.ba-info-block {
    background-color: #efeff0;
    padding: 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ba-info-block p {
    margin: 0;
    font-style: italic;
    font-size: 18px;
}

.ba-btn {
    min-width: 135px;
    height: 50px;
    color: #fff;
    padding: 0 32px;
    display: inline-flex;
    background-color: #7beec7;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    border: none;
    -webkit-appearance: none;

    transition: .3s;
}

.ba-btn--white {
    background-color: #fff;
    color: #7beec7;
}

.ba-btn:hover {
    opacity: .7;
}

.ba-btn:active {
    box-shadow: 0 0 0 0.1em #19cc8f;
}

.ba-btn:focus {
    box-shadow: 0 0 0 0.1em #156593;
}

.ba-testimonial {
    text-align: center;
    font-size: 14px;
}

.ba-testimonial__img {
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    object-position: top;
}

.ba-testimonial__text {
    line-height: 2.14285;
}

.ba-testimonial__autor {
    display: inline-flex;
    background-color: #7beec7;
    color: #fff;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    padding: 0 8px;
    height: 30px;
}

.ba-client {
    height: 100px;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}

.ba-contacts {
    background-color: #7beec7;
    padding: 50px 0;
}

.ba-contacts h2 {
    color: #fff;
}

.ba-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ba-nav {
    position: fixed;
    background-color: #FF8C00;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    padding: 2rem;
    transform: translateY(-100%);
    transition: .4s;
}

#toggle-menu:checked + .ba-nav {
    transform: translateY(0);
}

.ba-menu__item {
    padding: 1rem;
    opacity: 0;
    transform: translateY(-.5em) scale(1.2);
    transition: .5s;
}

.ba-menu__link {
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    font-size: 1.5em;
}

:checked + .ba-nav .ba-menu__item {
    opacity: 1;
    transform: none;
    transition-delay: .5s;
}

:checked + .ba-nav .ba-menu__item:nth-child(2) {
    transition-delay: .75s;
}

:checked + .ba-nav .ba-menu__item:nth-child(3) {
    transition-delay: 1s;
}

:checked + .ba-nav .ba-menu__item:nth-child(4) {
    transition-delay: 1.25s;
}

@media (min-width: 1200px) {
    .ba-nav {
        position: relative;
        width: auto;
        height: auto;
        background-color: transparent;
        transform: translateX(150%);
        opacity: 0;
        padding: 0;
    }

    :checked + .ba-nav {
        opacity: 1;
        transform: translateX(0);
    }

    .ba-menu__item {
        opacity: 1;
        padding: 0 1rem;
        transform: none;
    }

    .ba-menu__link {
        font-size: 1em;
    }

    .ba-menu {
        flex-direction: row;
    }
}

@media (min-height: 900px) {
    .ba-hero {
        min-height: 500px;
        padding: 268px 0 100px;
    }
}